.button {
    border: none;
    background-color: transparent;
    align-self: center;
    display: flex;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.button:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.1);
}

.menuIcon {
    color: #fff;
}